<div class="card mb-1 mt-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="ms-3">
                    <h5>Order 18KU-62IIK</h5>
                    <p class="small mb-0">Invoice Number : 788152</p>
                    <p class="small mb-0">Date : 22 Dec, 2019</p>
                    <p class="small mb-0">Total items : 3</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <div style="width: 80px;">
                    <h5 class="mb-0">$ 100</h5>
                </div>
            </div>
        </div>
    </div>
</div>