<div class="card mb-1 mt-1">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div>
                    <img [src]="cartItem().item.thumbnailImageUrl" [alt]="cartItem().item.name" class="img-fluid rounded-3"
                        alt="Shopping item" style="width: 55px;">
                </div>
                <div class="ms-3">
                    <h6>{{ cartItem().item.name }}</h6>
                    <p class="small mb-0">{{ cartItem().item.description }}</p>
                    <p class="small mb-0 fw-bold">{{ getQuantity() }}</p>
                    <p class="small mb-2">{{ getPrice() }}</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <h5 class="mb-0">{{ getTotalPrice() }}</h5>
            </div>
            <div class="d-flex flex-row align-items-center">
                <button type="button" class="btn btn-primary btn-block btn-md" (click)="removeOnClickHandler()">REMOVE</button>
            </div>
        </div>
    </div>
</div>
