<div class="row mb-4 ms-2 p-1 border rounded align-items-center bg-body-tertiary">
    <div class="col-12">
        <div class="p-5">
            <h3 class="fw-bold mb-2 mt-2 pt-1">{{ getOrderNumber( )}}</h3>

            <div class="d-flex justify-content-start pt-2">
                <p class="text-muted mb-0">{{ getOrderInvoice() }}</p>
            </div>
            
            <div class="d-flex justify-content-start">
                <p class="text-muted mb-0">Date: {{ orderItem().date | date:'dd/MM/yyyy hh:mm a' }}</p>
            </div>

            <hr class="my-4">


            @for (item of orderItem().items; track item.id) {
                <div class="row ms-2 mt-2 d-flex justify-content-between align-items-center">
                    <div class="col-1 p-0">
                        <img [src]="item.item.thumbnailImageUrl" class="img-fluid rounded-3" [alt]="item.item.name">
                    </div>
                    <div class="col-10 ps-3">
                        <h6 class="mb-0">{{ item.item.name }}</h6>
                        <h6 class="text-muted">Quantity: {{ item.quantity }}</h6>
                    </div>
                    <div class="col-1 p-0">
                        <h6 class="mb-0">{{ item.total | currency }}</h6>
                    </div>
                </div>
            }

            <hr class="my-4">

            <div class="d-flex justify-content-between mb-5">
                <h5 class="text-uppercase">Total price</h5>
                <h5>{{ orderItem().total | currency }}</h5>
            </div>

        </div>
    </div>
</div>