<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <ul class="navbar-nav mx-auto">
        <li routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item">
            <a class="nav-link">STORE</a>
        </li>
        <li routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item">
            <a class="nav-link">{{ getCartTotalItems() }}</a>
        </li>
        <li routerLink="/orders" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item">
            <a class="nav-link">ORDERS</a>
        </li>
    </ul>
</nav>